<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>about-me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="homepage">
    <a href="{{ path('home') }}" class='fa-hm'>
        <i class="fas fa-home"></i>
    </a>
</div>

<div class="timeline">
    <div class="container main-container">
                <div class="image">
                    <img class="img1" src="{{asset('../assets/bao.jpg')}}" alt="bao">
                </div>
                <div class="text-box">
                    <div class="wavy">
                        <span style="--i:1">i</span>
                        <span style="--i:2">'</span>
                        <span style="--i:3">a</span>
                        <span class='a' style="--i:4">m</span>
                    
                        <span style="--i:5">k</span>
                        <span style="--i:6">h</span>
                        <span style="--i:7">o</span>
                        <span style="--i:8">u</span>
                        <span style="--i:9">l</span>
                        <span style="--i:10">o</span>
                        <span style="--i:11">u</span>
                        <span class="a" style="--i:12">d</span>
                    
                        <span style="--i:13">s</span>
                        <span style="--i:14">a</span>
                        <span style="--i:15">h</span>
                        <span style="--i:16">m</span>
                        <span style="--i:17">o</span>
                        <span style="--i:18">u</span>
                        <span style="--i:19">n</span>
                        <span style="--i:20">e</span>
                </div>
                <div class="desc">
                        <p>
                        <span>
                            A dedicated web developer <br>
                        </span>

                        <span>
                            driven by the art of crafting digital experiences.
                        </span>  
                        </p>
                    
                        <a href="/cv/SAHMOUNE_KHOULOUD.pdf" target='_blank' class="btn btn-primary">
                            Download my resume
                        </a><br>
                        <span class='fa_solid'>
                            scroll down for more 
                            <i class="fa-solid fa-arrow-down"></i>
                        </span>

                </div>
    </div> 
</div>
</div>
    <div class="text-box-1">
       with lots of advanced technologies 
    </div>
    <div id="marquee">
        <div class="text-wrapper w-1">
            <span>
                <img src="{{asset('../assets/html.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/css.png')}}" style="height: 6rem;" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/bootstrap.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/js.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/my_sql.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/mongo.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/symfony.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/laravel.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/html.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/css.png')}}" style="height: 6rem;" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/bootstrap.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/js.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/my_sql.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/mongo.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/symfony.png')}}" alt="" srcset="">
            </span>
            <span>
                <img src="{{asset('../assets/laravel.png')}}" alt="" srcset="">
            </span>
        

        </div>
    </div>
    <div class="text-box-1 dream_ctnr">
     i'll help make your <span class='dream'>digital  dream </span> come true .
    </div>
    <div class="utl">
    <div class="exper_ctnr" >
        Utilizing expertise  to craft a seamless and dynamic website tailored to your needs. <br>
    </div>
</div>
<div class="card-container">

<div class="card">
        <div class="card-content">
            <h4>
                front-end 
            </h4>
            <p> 
                Crafting visually appealing and user-friendly interfaces to enhance the user experience.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h4>
                back-end
            </h4>
            <p>
                 Developing robust and scalable server-side logic to power dynamic web applications. 
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h4>
                database management
            </h4>
            <p>
                Designing efficient and secure data storage solutions to manage and manipulate information effectively.
            </p>
        </div>
    </div>
</div>  
<div class="gift">
    <div class="cards">
        <div class="front">
            <div class="left">
                <img src="{{asset('../assets/loft.jpg')}}" alt="bao">
            </div>
            <div class="right">
            <p class='mrc-main'>Born in the vibrant heart of Morocco</p>
                <p class="mrc">
                I find solace in the embrace of nature's beauty and the endless inspiration of art's boundless creativity.</p>
                <p class="copyright">&copy;&nbsp; copyright 2024</p>
            </div>
        </div>
        <div class="back">
            <p>Wishing you a day filled with happiness and joy!</p>
        </div>
    </div>
</div>


</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
            if (window.matchMedia("(max-width: 238px)").matches) {
                const resume = document.querySelector('.desc a');
                resume.textContent = 'my resume';
            }
            else if  (window.matchMedia("(max-width: 250px)").matches) {
                const morocco = document.querySelector('.right');
                morocco.textContent = 'based in morocco i can take yout dream to the stars';}
        });
        </script>
</body>

</html>